.main {
    background-color: rgb(190, 136, 37);
    border: 2px solid black;
}

.sub {
    background-color: rgb(158, 57, 13);
}

.logo img:hover {
    opacity: 0.5;
}

.tt p1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    color: orange;
}

.tt p2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.tbldata,
th,
td {
    border: 2px solid black !important;
}

th {
    background-color: rgb(126, 51, 19);
}

.sign p1 {
    font-family: "Segoe Script";
}